name: SonarQube Scan

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  sonarqube:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${560fea1c5443bb90f16bc18e124fe8396767aec8}
          SONAR_HOST_URL: ${https://sonarcloud.io}
